---

## Globally shared configuration for authentik components.
global:
  env:
    - name: AUTHENTIK_BOOTSTRAP_PASSWORD
      value: {{ authentik.admin.password }}
    - name: AUTHENTIK_BOOTSTRAP_EMAIL
      value: {{ authentik.admin.email }}

## Authentik configuration
authentik:
  log_level: info
  secret_key: {{ authentik.secret_key }}
  postgresql:
    password: {{ authentik.postgresql_password }}

## authentik server
server:
  name: server
  replicas: 1
  deploymentStrategy:
    type: Recreate
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
  volumeMounts:
    - name: authentik-media
      mountPath: /media
{% if authentik.custom_bg %}
    - name: custom-css
      mountPath: /web/dist/custom.css
      subPath: custom.css
{% endif %}
  volumes:
    - name: authentik-media
      persistentVolumeClaim:
        claimName: authentik-media-pvc
{% if authentik.custom_bg %}
    - name: custom-css
      configMap:
        name: authentik-custom-css
{% endif %}

## authentik worker
worker:
  name: worker
  replicas: 1

postgresql:
  enabled: true
  auth:
    username: authentik
    database: authentik
    password: {{ authentik.postgresql_password }}
  primary:
    persistence:
      enabled: true
      size: 2Gi

redis:
  enabled: true
  master:
    persistence:
      size: 2Gi
