apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: traefik-dashboard-basicauth
  namespace: {{ traefik.namespace }}
spec:
  basicAuth:
    secret: traefik-dashboard-basicauth-secret