---
apiVersion: v1
kind: Secret
metadata:
  name: traefik-dashboard-basicauth-secret
  namespace: {{ traefik.namespace }}
type: Opaque
data:
  users: {{ traefik.dashboard.basicauth.secret }}
