apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: nextcloud
  namespace: {{ nextcloud.namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ traefik.ingress_class }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`nextcloud.{{ traefik.domain_name }}`)
      kind: Rule
      middlewares:
        - name: nextcloud-headers
          namespace: {{ nextcloud.namespace }}
        - name: nextcloud-redirectregex
          namespace: {{ nextcloud.namespace }}
      services:
        - name: nextcloud
          port: 8080
