---

apiVersion: v1
kind: Secret
metadata:
  name: ca-cert-secret
  namespace: {{ semaphoreui.namespace }}
type: Opaque
data:
  ca-cert-selfsigned.pem: |
    {{ ca_cert_file | b64encode | indent(4) }}

