---

apiVersion: v1
kind: Secret
metadata:
  name: minio-admin-secret
  namespace: {{ minio.namespace }}
type: Opaque
data:
  rootUser: {{ minio.admin_user.username | b64encode }}
  rootPassword: {{ minio.admin_user.password | b64encode }}

