---

apiVersion: v1
kind: Secret
metadata:
  name: minio-admin-secret
  namespace: {{ minio.namespace }}
type: Opaque
data:
  user: {{ minio.admin_user.username | b64encode }}
  passw: {{ minio.admin_user.password | b64encode }}

