image:
  registry: docker.io
  repository: bitnami/minio

mode: standalone

persistence:
  enabled: true
  storageClass: "local-storage"
  existingClaim: "minio-data-pvc"

volumePermissions:
  enabled: {{ minio.volumePermissions }}

auth:
  existingSecret: "minio-admin-secret"
  rootUserSecretKey: "rootUser"
  rootPasswordSecretKey: "rootPassword"

extraVolumes:
{% if cert_path_global != '' %}
  - name: cert-secret
    secret:
      secretName: cert-secret
      items:
        - key: public.crt
          path: CAs/public.crt
{% endif %}
{% if minio.oidc.enabled %}
  - name: setup-oidc-script
    configMap:
      name: setup-oidc-script
      defaultMode: 0777
{% else %}
  - name: scripts-empty-dir
    emptyDir: {}
{% endif %}

extraVolumeMounts:
{% if cert_path_global != '' %}
  - name: cert-secret
    mountPath: /certs
    readOnly: true
{% endif %}
{% if minio.oidc.enabled %}
  - name: setup-oidc-script
    mountPath: /scripts/setup-oidc.sh
    subPath: setup-oidc.sh
{% else %}
  - name: scripts-empty-dir
    mountPath: /scripts
{% endif %}

{% if minio.oidc.enabled %}
initContainers:
  - name: wait-for-authentik
    image: busybox:1.37.0
    command:
      - sh
      - -c
      - |
        echo "Waiting for Authentik to be ready..."
        until nc -zv authentik-server.iam.svc.cluster.local 443; do
          echo "Waiting for Authentik..."
          sleep 5
        done
        echo "Authentik is up!"

customStartupProbe:
  exec:
    command:
      - /scripts/setup-oidc.sh
  # Wait for Authentik
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 20
  successThreshold: 1
  failureThreshold: 20
{% endif %}

