apiVersion: v1
kind: Secret
metadata:
  name: regcred
  namespace: {{ argocd.image_updater.namespace }}
data:
  .dockerconfigjson: {{ lookup('template', 'dockerconfig.json.j2') | tojson | b64encode }}
type: kubernetes.io/dockerconfigjson

