apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: authentik-media-pvc
  namespace: {{ authentik.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName:
  resources:
    requests:
      storage: 2Gi

