---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: valheim-world-pv
spec:
  storageClassName: local-storage
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: {{ valheim.data.world.size }}
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  local:
    path: {{ valheim.local_storage.path + '/world'}}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ valheim.local_storage.node_name }}

---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: valheim-server-pv
spec:
  storageClassName: local-storage
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: {{ valheim.data.server.size }}
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  local:
    path: {{ valheim.local_storage.path + '/server' }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ valheim.local_storage.node_name }}

