apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: cilium-hubble-ui
  namespace: {{ cilium.hubble_ui.namespace }}
  annotations: 
    kubernetes.io/ingress.class: {{ traefik.ingress_class }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ cilium.hubble_ui.subdomain_name }}.{{ traefik.domain_name }}`)
      kind: Rule
      services:
        - name: hubble-ui
          port: 80

