---
apiVersion: v1
kind: Secret
metadata:
  name: duckdns-token-secret
  namespace: {{ cert_manager.namespace }}
type: Opaque
stringData:
  duckdns-token: {{ cert_manager.dns.duckdns.token }}
