---
apiVersion: v1
kind: Secret
metadata:
  name: local-selfsigned-secret
  namespace: {{ cert_manager.namespace }}
type: Opaque
data:
  tls.key: {{ lookup('file', key_path) | b64encode }}
  tls.crt: {{ lookup('file', cert_path) | b64encode }}
