---

apiVersion: v1
kind: PersistentVolume
metadata:
  name: qbittorrent-nfs-pv
spec:
  capacity:
    storage: {{ qbittorrent.data.size }}
  accessModes:
    - ReadWriteOnce
  nfs:
    path: {{ qbittorrent.nfs.path }}
    server: {{ qbittorrent.nfs.server }}
  persistentVolumeReclaimPolicy: Retain

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qbittorrent-nfs-pvc
  namespace: {{ qbittorrent.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ qbittorrent.data.size }}
  storageClassName: ""
  volumeName: qbittorrent-nfs-pv

