---

apiVersion: v1
kind: Secret
metadata:
  name: minio-bucket-credentials
  namespace: {{ longhorn.namespace }}
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ longhorn.minio_backup.key | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ longhorn.minio_backup.secret | b64encode }}
  AWS_ENDPOINTS: "{{ ('https://' + minio.subdomain_name + '-api.' + traefik.domain_name + '/') | b64encode }}"
{% if cert_path_global != '' %}
  AWS_CERT: {{ ca_cert_file | b64encode }}
{% endif %}

