---
apiVersion: v1
kind: Secret
metadata:
  name: duckdns-selfsigned-secret
  namespace: {{ cert_manager.namespace }}
type: Opaque
data:
  tls.key: {{ lookup('file', cert_path + 'ca.key') | b64encode }}
  tls.crt: {{ lookup('file', cert_path + 'ca.crt') | b64encode }}
